*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    cursor: pointer;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, #ff0000 ,#2181ff);
}
form{
    width: 25rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    background: rgba(255,255,255,0.06); 
    box-shadow: 0 8px 32px 0 rgba(31,38,135,.137);
    border-radius: 30px;
    border-left: 1px solid reba(255,255,255,.3);
    border-top: 1px solid reba(255,255,255,.3);
}
h1{
    font-size: 50px;
    text-align: centre;
    colour:white;
    text-shadow: 2px 2px 4px rgba(0,0,0,.2);
    letter letter-spacing: 3px;
    margin-bottom: 5%;
    opacity: .7;
label{
    font-size: 20px;
    colour:white;
    margin-left: 10%
    opacity: .8
    text-shadow:2px 2px 4px rgba(0,0,0,.2);
}
input{
    width:80%;
    margin:5% auto;
}